@import "../../scss/common/colors";

.eventino {
  margin: 80px 0 0 0;

  &-plaza {
    display: flex;
    gap: 10px;
  }

  .german-calendar {
    margin: 0 0 0 0;
  }

  &-date {
    span {
      font-weight: 600;
      font-size: 14px;
      margin: 0 0 0 10px;
    }
  }

  &-result {
    border: 1px solid $w;
    padding: 5px;
    margin: 10px 0;
    font-weight: 300;
    background: #F0F0F0;
    border-radius: 5px;
  }

  &-content {
    span {
      font-weight: 600;
      font-size: 16px;
      color: $blue-deep;
      margin: 0 0 0 10px;
    }

  }

  &-textfield {
    background: #F0F0F0;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 5px;
    border: 2px solid $l-light;
    border-radius: 5px;
  }

  &-timers {
    display: flex;
    gap: 10px;

    .german-calendar {
      margin: 0 0 0 0;
    }
  }

  .klappen-buttons {
    display: flex;
    gap: 10px;
  }
}