@import './common/null.scss';
@import './common/colors.scss';
@import './common/common.scss';
@import './buttons/btn.scss';
@import './buttons/btn-success.scss';

* {
  cursor: default !important;
}

body {
  cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"%3E%3Ccircle cx="5" cy="5" r="5" fill="red" /%3E%3C/svg%3E'), pointer;

  * {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"%3E%3Ccircle cx="5" cy="5" r="5" fill="red" /%3E%3C/svg%3E'), pointer !important;
  }
}