@import "../../scss/common/colors";

.regularForm {
  background: #FFFEC9;
  padding: 42px 20px;
  box-shadow: 0 0 10px 10px rgba($color: #9b9a9a75, $alpha: 1.0);
  border-bottom: 2px solid #6B5F00;
  transform: translateY(0%);

  .klappen {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 5px;
    right: 180px;
  }
}

.Content-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0 10px 0;
  min-height: 50px;
  border: 2px solid #6B5F00;
}

.danger-zone {
  position: relative;
  background-color: #f5f5f5;
  border: 5px solid #000;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  margin: 20px 0 0 0;

  .Content-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
    min-height: 40px;
  }

  button {
    border-radius: 50%;
    transition: all .3s;
    width: 30px;
    height: 30px;
    border: 2px solid #e3e3e3;
    box-shadow: inset 0 0 10px #4e0c0c, 0 0 10px rgba(109, 109, 108, 0.7803921569);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      box-shadow: inset 0 0 10px #4e0c0c, 0 0 8px 5px rgba($color: #a7010183, $alpha: 1.0);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: repeating-linear-gradient(45deg,
        yellow,
        yellow 10px,
        black 10px,
        black 20px);
    z-index: -1;
  }
}




// .klappen-buttons {
//   display: grid;
//   grid-template-columns: repeat(3, max-content);
//   align-items: center;
//   gap: 10px;
// }

// .klappen-buttons-button {
//   width: 80px;
//   height: 40px;
// }

.regular {
  margin: 20px 0 0;

  .header-day {
    padding: 5px 0;
    transition: all .2s;
    margin: 0 5px 0 0;
    border-radius: 5px;
  }

  ._run {
    background: $blue !important;
    outline: 3px solid red;
    color: whitesmoke;
  }

  // type="button"

  &-start {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 308px max-content 308px;
    gap: 30px;

    .timeminuts .klappen {
      position: relative !important;
      top: auto !important;
      right: auto !important;
    }
  }
}

.tablo {

  // display: grid;
  // grid-template-columns: repeat(2, max-content);
  // gap: 10px;
  // align-items: flex-start;
  // align-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-time {
    display: flex;
    justify-content: center;
    gap: 10px;

    span {
      font-weight: 800;
      font-size: 14px;
      line-height: 2;
    }
  }
}

.startDate {
  display: grid;
  gap: 5px;
  border: #04286F 1px solid;
  border-radius: 5px;
  padding: 3px;
  grid-template-columns: 80px 1fr;
  min-width: 210px;
  justify-content: space-between;

  h3 {
    grid-column: 1/3;
    text-align: center;
    margin: 0 0 10px 0;
    color: #FFFEC9;
    border-bottom: #04286F 1px solid;
    background: #04286F;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  span {
    font-weight: 300;
    font-size: 12px;

    &.-data {
      font-weight: 600;
      font-size: 14px;
    }
  }
}